extends layout

block content
    .container-fluid
        .row
            .col-lg-4
            .col-lg-4
                div(style="text-align: center;")
                    h2 Welcom to jogajogbd
                div
                    input.form-control(placeholder="From", aria-describedby="basic-addon1")
                    br
                    input.form-control(placeholder="To", aria-describedby="basic-addon1")
                    br
                div(style="text-align: center;")
                    button.btn.btn-primary.search_transport Search
            .col-lg-4
                button.btn.btn-primary.mybtn(type="button", data-val="abc") Submit
        .row
            .col-lg-4
            .col-lg-4
                .card
                    .panel.panel-primary
                        .panel-body
                            table(class="table")
                                tr
                                    td(width="70px")
                                        b Bus
                                    td Ajmiri Enterprise
                                tr
                                    td
                                        b Counter
                                    td Gabtoli
                                tr
                                    td
                                        b Route
                                    td Dhaka to Faridpur
                                tr
                                    td
                                        b Contact
                                    td 9548552215
                            span(class="label label-default m1")  economy : 300tk
                            span(class="label label-success m1")  ac : 400tk
                            span(class="label label-primary m1")  business : 500tk
                        .panel-footer
                            table(class="table", style="display: inline-block")
                                tr
                                    td(width="60px") Everyday
                                    td
                                        span(class="label label-default m1 ") 5 am
                                        span(class="label label-default m1") 6 am
                                        span(class="label label-default m1") 6 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-success m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-primary m1") 7 am
                                        span(class="label label-primary m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-success m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-primary m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
                                        span(class="label label-default m1") 7 am
            .col-lg-4

