.row
    .col-lg-4
    .col-lg-4
        .card
            .panel.panel-primary
                .panel-body
                    table
                        tr
                            td(width="70px")
                                b Bus
                            td Ajmiri Enterprise
                        tr
                            td
                                b Counter
                            td Gabtoli
                        tr
                            td
                                b Route
                            td Dhaka to Faridpur
                        tr
                            td
                                b Contact
                            td 9548552215
                    span(class="label label-default sm")  economy : 300tk
                    //
                    span(class="label label-success sm")  ac : 400tk
                    //
                    span(class="label label-primary sm")  business : 500tk
                .panel-footer
                    table(class="table", style="display: inline-block")
                        tr
                            td(width="60px") Everyday
                            td(style="display:inline-block")
                                span(class="label label-default m1") 5 am
                                //
                                span(class="label label-default m1") 6 am
                                //
                                span(class="label label-default m1") 6 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-success m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-primary m1") 7 am
                                //
                                span(class="label label-primary m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-success m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-primary m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am
                                //
                                span(class="label label-default m1") 7 am

    .col-lg-4